{extend name="./layout" /}
{block name='main'}
<div class="cols mb-16">
    <div class="col col-4">
        <div class="card">
            <div class="card-body">
                <div class="tile tile-centered">
                    <div class="tile-icon"><div class="avatar avatar-xl none w50 h50"><img src="{$tenant.avatar}" class="w50 h50"></div></div>
                    <div class="tile-content"><div class="tile-title text-large">{$tenant.username}</div>
                    <small class="tile-subtitle text-gray">{$tenant.phone_id}</small></div>
                    <div class="tile-action"><a class="btn win" href="{:url('tenant/recharge',['id' => $tenant->id])}" outline warning><i class="icon bi-currency-yen"></i> 充值</a></div>
                </div>
                <div class="col cols col-12 mt-24">
                    <div class="col-auto w140">
                        <div class="tile tile-centered">
                            <div class="tile-icon"><span class="w40 h40 bg-warning-light rounded space space-align-center space-justify-center"><i class="icon icon-4x bi-currency-yen"></i></span></div>
                            <div class="tile-content"><div class="tile-title text-bold text-large widget-price">{$tenant.money+$tenant.lock_money|money}</div>
                            <small class="tile-subtitle text-gray">帐号余额</small></div>
                        </div>
                    </div>
                    <div class="col ml-16">
                        <div class="tile tile-centered">
                            <div class="tile-icon"><span class="w40 h40 bg-success-light rounded space space-align-center space-justify-center" icon><i class="icon icon-4x bi-credit-card"></i></span></div>
                            <div class="tile-content"><div class="tile-title text-bold text-large widget-price">{$tenant.lock_money}</div>
                            <small class="tile-subtitle text-gray">赠送余额</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-8">
        <div class="card">
            <div class="card-body cols">
                <div class="col">
                    <ul class="list">
                        <li class="list-item">租户身份<span class="ml-16 status status-{$tenant.agent?'error':''}">{$tenant.agent?$tenant.agent.title:'普通租户'}</span></li>
                        <li class="list-item">租户状态<span class="ml-16 status status-{$tenant.is_lock?'':'success'}">{$tenant.is_lock?'锁定':'正常'}</span></li>
                        <li class="list-item">配置权限<span class="ml-16 status status-{$tenant.lock_config?'':'success'}">{$tenant.lock_config?'未开启':'已开启'}</span></li>
                        <li class="list-item">扫码登录<span class="ml-16 status status-{$tenant.wechat_id?'success':''}">{$tenant.wechat_id?'已绑定':'未绑定'}</span></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list">
                        <li class="list-item">创建时间<span class="ml-16 text-gray">{$tenant.create_time}</span></li>
                        <li class="list-item">更新时间<span class="ml-16 text-gray">{$tenant.update_time}</span></li>
                        <li class="list-item">最后登录<span class="ml-16 text-gray">{$tenant.login_time}</span></li>
                        <li class="list-item">最后来访<span class="ml-16 text-gray">{$tenant.login_ip}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="cols">
            <div class="col space space-align-center text-bold"><i class="icon bi-menu-app icon-2x mr-8"></i>开通应用</div>
            <div class="col col-auto btn-group btn-group-block">
                <a pjax href="{:url('tenant/details',['types'=>0,'id'=>$tenant.id])}" class="btn" {$Request.param.types == 0?'primary':'outline'}>正常</a>
                <a pjax href="{:url('tenant/details',['types'=>1,'id'=>$tenant.id])}" class="btn" {$Request.param.types == 1?'primary':'outline'}>锁定</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-space">
            <thead><tr><th>应用名称</th><th class="w70">状态</th><th class="w100">到期时间</th><th class="w120">创建时间</th><th class="w120    ">更新时间</th><th class="w40">设置</th></tr></thead>
            <tbody>
                {foreach $apps as $rs}
                <tr>
                    <td>
                        <a class="tile tile-centered" href="{:url('apps/toTanent',['id' => $rs->id])}" target="_blank">
                            <div class="tile-icon"><img class="w60 rounded img-responsive" src="{$rs.logo}"></div>
                            <div class="tile-content">
                                <div class="text-dark">{$rs.title}</div>
                                <div class="text-gray">{$rs.about??''}</div>
                            </div>
                            <div class="tile-action"><button class="btn tips tips-left is_admin" data-tips="管理租户应用"  outline primary icon><i class="icon bi-arrows-angle-expand"></i></button></div>
                        </a>
                    </td>
                    <td><a class="act status status-{$rs.is_lock?'':'success'}" href="{:url('apps/islock',['id'=>$rs.id])}" title="锁定/解锁">{$rs.is_lock?'锁定':'正常'}</a></td>
                    <td>{$rs.end_time}</td>
                    <td>{$rs.create_time|date='Y-m-d H:i'}</td>
                    <td>{$rs.update_time|date='Y-m-d H:i'}</td>
                    <td><a class="link win" href="{:url('apps/edit',['id'=>$rs.id])}">编辑</a></td> 
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
<div class="card mt-16">
    <div class="card-header">
        <div class="cols">
            <div class="col space space-align-center text-bold"><i class="icon bi-list-task icon-2x mr-8"></i>用户账单</div>
            <div class="col col-auto btn-group btn-group-block">
                <a pjax href="{:url('tenant/details',['money'=>0,'id'=>$tenant.id])}" class="btn" {$Request.param.money == 0?'primary':'outline'}>全部</a>
                <a pjax href="{:url('tenant/details',['money'=>1,'id'=>$tenant.id])}" class="btn" {$Request.param.money == 1?'primary':'outline'}>充值</a>
                <a pjax href="{:url('tenant/details',['money'=>2,'id'=>$tenant.id])}" class="btn" {$Request.param.money == 2?'primary':'outline'}>消费</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr><th class="w60 text-center">#</th><th class="w80 text-center">类型</th><th class="w100">金额</th><th class="w80">状态</th><th>说明</th><th class="w200">时间</th></tr>
            </thead>
            <tbody>
            {foreach $bill as $vo}
            <tr>
                <td class="text-center">{$vo.id}</td>
                <td class="text-center"><span class="tag tag-{$vo.money>0?'primary':'warning'}">{$vo.types}</span></td>
                <td class="widget-price">{$vo.money}</td>
                <td><span class="lock status status-{$vo.state?'success':''}">{$vo.state_text}</span></td>
                <td>{$vo.message}</td>
                <td>{$vo.update_time|date='Y-m-d H:i:s'}</td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
    <div class="{$bill->hasPages()?'card-footer':'d-hide'}">{$bill|raw}</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
Do('base',function(){
    $('.act').actUrl({is_delete:true,text:'确认改变当前状态?'})
    $('.win').win({reload:true})
})
</script>
{/block}