{extend name="./layout" /}
{block name='main'}
<div class="card">
    <div class="card-header cols">
        <div class="col"><a href="{:url('tenant/edit')}" class="win btn" primary>创建租户</a></div>
        <div class="col col-auto">
            <form pjax id="search" action="{:url('tenant/index',['types' => $Request.param.types])}" class="input-group">
                <input name="keyword" type="text" class="form-input" value="{$Request.param.keyword}" placeholder="手机号">
                <button type="submit" class="btn btn-primary input-group-btn" primary>搜索</button>
            </form>
        </div>
        <div class="col col-auto btn-group btn-group-block">
            <a pjax href="{:url('tenant/index',['types'=>2])}" class="btn" {$Request.param.types == 2?'primary':'outline'}>代理</a>
            <a pjax href="{:url('tenant/index',['types'=>0])}" class="btn" {$Request.param.types == 0?'primary':'outline'}>正常</a>
            <a pjax href="{:url('tenant/index',['types'=>1])}" class="btn" {$Request.param.types == 1?'primary':'outline'}>锁定</a>
        </div>
    </div>
    <div class="card-body">
<table class="table table-hover">
    <thead>
        <tr><th class="w120">手机号</th><th>租户昵称</th><th class="w100">代理身份</th><th class="w70">状态</th><th class="w80">配置权</th><th class="w120">创建时间</th><th class="w120">最后访问</th><th class="w80">操作</th></tr>
    </thead>
    <tbody>
        {foreach $list as $vo}
        <tr>
            <td><i class="bi bi-phone text-large"></i><a href="{:url('tenant/details',['id' => $vo.id])}">{$vo.phone_id}</a></td>
            <td><a href="{:url('tenant/details',['id' => $vo.id])}">{$vo.username}</a></td>
            <td><span class="label {$vo.agent_id?'label-warning':''}">{$vo.agent?$vo.agent.title:'普通租户'}</span></td>
            <td><a class="act status status-{$vo.is_lock?'':'success'}" href="{:url('tenant/islock',['id'=>$vo.id])}" title="锁定/正常">{$vo.is_lock?'锁定':'正常'}</a></td>
            <td><a class="lock status status-{$vo.lock_config?'':'success'}" href="{:url('tenant/lockConfig',['id'=>$vo.id])}">{$vo.lock_config?'关闭':'开启'}</a></td>
            <td>{$vo.create_time|date='Y-m-d H:i'}</td>
            <td>{$vo.update_time|date='Y-m-d H:i'}</td>
            <td>
                <a class="link" href="{:url('tenant/edit',['id'=>$vo.id])}">编辑</a>
                <a class="link actDel {$vo.apps_count > 0?'link-disabled':''}" href="{:url('tenant/delete',['id'=>$vo.id])}">删除</a>
            </td>
        </tr>
        {/foreach}
    </tbody>
</table>
</div>
<div class="{$list->hasPages()?'card-footer':'d-hide'}">{$list|raw}</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
Do('base',function(){
    $('.act').actUrl({is_delete:true,text:'确认改变当前状态?'})
    $('.lock').actUrl({text:'确认改变租户配置权限?'})
    $('.actDel').actUrl({is_delete:true})
})
</script>
{/block}