<!doctype html>
<html lang="zh-Hans-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="application-name" content="{$Think.const.SYSNAME} ({$Think.const.BASEVER})">
<meta name="copyright" content="{$Think.const.SYSNAME} Designed & Developed by BrownStone">
<meta name="applicable-device" content="pc">
<title>撒皮|SAPI++ @安装器</title>
<meta name="description" content="撒皮(Sapi++)极致的中心企业SaaS应用服务引擎">
<script type="text/javascript" src="__PUBLIC__/lib/do.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/package.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/system.css" /></head>
<body>
<div class="docs-content">
    <div class="card auto shadow-lg">
        <div class="card-header">
            <div class="tile tile-centered">
                <div class="tile-icon"><img class="img-responsive" src="__PUBLIC__/img/logo.png" /></div>
                <div class="tile-content">
                    <div class="text-large text-bold">{$Think.const.SYSNAME}{$Think.const.BASEVER}</div>
                    <div class="tile-subtitle">撒皮(SAPI++)极致简约的企业级SaaS应用服务引擎</div>
                </div>
            </div>
        </div>
        <div class="card-body">
            {__CONTENT__}
        </div>
    </div>
</div>
</body>
</html>