{extend name="layout" /}
{block name='main'}
<div class="card">
    <div class="card-body cols">
        <div class="col col-auto">
            <div class="tile mt-4" id="logo">
                <div class="tile-icon w100 w100 tile-centered"><img class="w100 rounded img-responsive logo" src="{$info.logo??'__STATIC__/shopon/img.svg'}"></div>
            </div>
        </div>
        <div class="col">
            <form id="form" action="{:url('admin/edit')}">
                <input type="hidden" name="id" value="{$info.id??0}"/>
                <input type="hidden" name="parent_id" value="{$info.parent_id??$Request.param.parent_id}"/>
                <input type="hidden" name="logo" value="{$info.logo??''}"/>
                <div class="form-group">
                    <label class="form-label">目录名称</label>
                    <div class="input-group"><input class="form-input" datatype="*" type="text" name="title" value="{$info.title??''}" /></div>
                </div>  
                <div class="form-group">
                    <label class="form-label">目录别名</label>
                    <div class="input-group"><input class="form-input" datatype="*" type="text" name="alias_title" value="{$info.alias_title??''}" /></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn" primary>确定信息</button>
                </div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
Do('form','upload', function () {
    $('#form').isForm();
    $('#logo').upload({multiple:false},(rel)=>{
        $('.logo').attr("src",rel.url);
        $("input[name='logo']").val(rel.url)
    });
})
</script>   
{/block}