{extend name="./layout" /}
{block name="body"}
<div id="layoutLogin" class="space space-align-center space-horizontal space-justify-center">
    <div class="card shadow-xl w460" id="login">
        <div class="card-header"><div class="card-title text-bold">{$configs.name}</div><div class="card-subtitle mt-4">{$configs.about}</div></div>
        <div class="card-body">
            <form id="form" class="form-horizontal form-lg" action="{:url('admin/index/login')}">
                <div class="form-group input-group">
                    <span class="input-addon"><i class="icon bi-person"></i></span>
                    <input name="login_id" data-rule="required" autocomplete="off" class="form-input" type="text" placeholder="帐号">
                </div>
                <div class="form-group  input-group">
                    <span class="input-addon"><i class="icon bi-key"></i></span>
                    <input name="login_password" data-rule="required" autocomplete="off" class="form-input" type="password" placeholder="密码">
                </div>
                <div class="form-group input-group">
                    <input name="captcha" data-rule="required" autocomplete="off" class="form-input" type="text" placeholder="验证码" />
                    <img id="captcha" src="{:captcha_src()}" alt="captcha" class="c-hand ml-24"/>
                </div>
                <div class="form-group"><button class="btn btn-block" type="submit" gray>确认登录</button></div>
            </form>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
Do('form',() => {
    var captcha = (dom)=>{$(dom).attr("src", "/captcha.html?rnd=" + Math.random())}
    $('#form').isForm((rel)=>{200!=rel.code&&captcha("#captcha")});
    $('#captcha').click(function () {captcha(this)});
})
</script>
{/block}