{extend name="./layout" /}
{block name='main'}
<div class="card">
    <div class="card-body">
        <form id="form" action="{:url('admin/index/password')}">
            <div class="form-group">
                <label class="form-label">帐号名称</label>
                <input name="name" class="form-input" type="text" value="{$info.username}" disabled>
            </div>
            <div class="form-group">
                <label class="form-label">新的密码</label>
                <input name="password" class="form-input" data-rule="密码:required;length(6~)" type="password" >
            </div>
            <div class="form-group">
                <label class="form-label">确认密码</label>
                <input name="repassword" class="form-input" data-rule="确认密码:match(password);required" type="password" >
            </div>
            <div class="form-group">
                <button type="submit" class="btn" primary>确定</button>
            </div>
        </form> 
</div>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
Do('form', function () {
    $('#form').isForm();
});
</script> 
{/block}
