{extend name="./layout" /}
{block name='main'}
<div class="cols">
    <div class="col col-sm-12 col-5">
        <div class="card h120">
            <div class="card-body">
                <div class="tile tile-centered">
                    <div class="tile-icon"><img src="{$info.logo}" class="w70 w70 rounded img-responsive"></div>
                    <div class="tile-content">
                        <div class="text-dark">{$info.title} <span class="text-tiny">v</span></div>
                        <div class="text-gray">{$info.about}</div>
                    </div>
                    {if isset($info.config.is_admin) && $info.config.is_admin == 1}
                    <div class="tile-action  btn-group">
                        <button class="btn tips tips-left is_admin" data-tips="管理应用" href="{:url('app/manage',['id' => $info->id])}" outline primary icon><i class="icon bi-layout-text-window-reverse icon-2x"></i></button>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <div class="col col-sm-12 col-7">
        <div class="card h120">
            <div class="card-body cols">
                <div class="col">
                    <ul class="list">
                        <li class="list-item">应用类型{foreach $info.config.types as $title}<span class="ml-8 tag">{$title}</span>{/foreach}</li>
                        <li class="list-item">支付方式{foreach $info.config.payment as $title}<span class="ml-8 tag">{$title}</span>{/foreach}</li>
                        <li class="list-item">应用接入<span class="ml-16 status status-{$apps.app.config.is_open_wechat?'success':'error'}">{$info.config.open_wechat_text}</span></li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="list">
                        <li class="list-item">当前版本
                            <span class="ml-16 text-gray">{$Think.const.SYSNAME} {$Think.const.BASEVER}</span>
                            {notempty name="$info.config.check_var"}
                            <sapn class="ml-8 c-hand tag tag-error checkVar">检查</sapn>
                            {/notempty}
                        </li>
                        {notempty name="$info.config.uri"}
                        <li class="list-item">官网网站:<span class="ml-16 text-gray"><a href="{$info.config.uri}" target="_blank">{$info.config.uri}</a></span></li>
                        {/notempty}
                        <li class="list-item">安装时间:<span class="ml-16 text-gray">{$info.create_time}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mt-16">
    <div class="card-header">
        <div class="cols">
            <div class="col space space-align-center text-bold"><i class="icon bi-menu-app icon-2x mr-8"></i>租户应用</div>
            <div class="col col-auto btn-group btn-group-block">
                <a pjax href="{:url('app/details',['id' => $Request.param.id,'types'=>0])}" class="btn" {$Request.param.types == 0?'primary':'outline'}>正常</a>
                <a pjax href="{:url('app/details',['id' => $Request.param.id,'types'=>1])}" class="btn" {$Request.param.types == 1?'primary':'outline'}>过期</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-space">
            <thead><tr><th>应用名称</th><th class="w140">租户</th><th class="w70">状态</th><th class="w100">到期时间</th><th class="w120">创建时间</th><th class="w120">更新时间</th><th class="w40">设置</th></tr></thead>
            <tbody>
                {foreach $apps as $rs}
                <tr>
                    <td>
                        <div class="tile tile-centered">
                            <div class="tile-icon"><img class="w60 rounded img-responsive" src="{$rs.logo}"></div>
                            <div class="tile-content">
                                <div class="text-dark">{$rs.title}</div>
                                <div class="text-gray">{$rs.about??''}</div>
                            </div>
                            <div class="tile-action">
                                <a href="{:url('apps/toTanent',['id' => $rs->id])}" target="_blank" class="btn tips tips-left" data-tips="管理租户应用"  outline primary icon><i class="icon bi-arrows-angle-expand"></i></a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a class="tile" href="{:url('tenant/details',['id' => $rs->tenant_id])}">
                            <div class="tile-content">
                                <p>{$rs.tenant.username}</p>
                                <p><i class="bi bi-phone"></i> {$rs.tenant.phone_id}</p>
                            </div>
                        </a>
                    </td>
                    <td><a class="act status status-{$rs.is_lock?'':'success'}" href="{:url('apps/islock',['id'=>$rs.id])}" title="锁定/解锁">{$rs.is_lock?'锁定':'正常'}</a></td>
                    <td>{$rs.end_time}</td>
                    <td>{$rs.create_time|date='Y-m-d H:i'}</td>
                    <td>{$rs.update_time|date='Y-m-d H:i'}</td>
                    <td><a class="link win" href="{:url('apps/edit',['id'=>$rs.id])}">编辑</a></td> 
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
Do('base',function(){
    $('.win').win({reload:true})
    $('.act').actUrl({is_delete:true,text:'确认改变当前状态?'})
    $(".checkVar").click(()=>{
        http.get("{:url('license/checkVar')}")
    })
    $('.is_admin').actUrl({skin:'warning',text:'同时只能对一个应用进行管理操作!','content':'管理应用'},(rel) =>{
        parent.layer.toast(rel.message, {skin: 'success'});
        204==rel.code&&parent.getMenu(1);
    })
})
</script>
{/block}