{extend name="./layout" /}
{block name="main"}
<div class="card">
<div class="card-header">
    <div class="cols">
        <div class="col"><a href="{:url('app/edit')}" class="btn" primary>创建应用</a></div>
        <div class="col col-auto btn-group btn-group-block">
            <a pjax href="{:url('app/index',['lock'=>0])}" class="btn" {$Request.param.lock == 0?'primary':'outline'}>上架</a>
            <a pjax href="{:url('app/index',['lock'=>1])}" class="btn" {$Request.param.lock == 1?'primary':'outline'}>下架</a>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table table-hover table-space">
    <thead>
        <tr>
            <th class="w60 text-center">排序</th>
            <th>应用名称</th>
            <th class="w80 text-center">应用接入</th>
            <th class="w60 text-right">体验</th>
            <th class="w80 text-right">价格/年</th>
            <th class="w60">状态</th>
            <th class="w80">操作</th>
        </tr>
    </thead>
    <tbody>
    {foreach $offapp as $rs}
        <tr class="bg-error-light">
            <td class="w60 text-center"><input disabled name="sort" class="form-input text-center" type="text" value="0"  /></td>
            <td>
                <div class="tile tile-centered">
                    <div class="tile-icon"><img class="w60 rounded img-responsive" src="{$rs.logo}"></div>
                    <div class="tile-content">
                        <div class="text-dark">{$rs.name} <span class="text-tiny">v{$rs.var}</span></div>
                        <div class="text-gray">{$rs.about}</div>
                    </div>
                </div>   
            </td>
            <td class="text-center"><span class="tag {$rs.is_open_wechat?'tag-success':''}">{$rs.open_wechat_text}</span></td>
            <td class="text-right">0天</td>
            <td class="text-right"><span class="widget-price text-dark">0.00</span></td>
            <td><span class="status status-warning">待安装</span></td>
            <td><a class="btn install" href="{:url('app/install',['appname' => $rs.appname])}" outline primary><i class="icon bi-check-square"></i>  安装</a></td>
        </tr>
    {/foreach}
    {foreach $list as $rs}
        <tr>
            <td class="w60 text-center"><input name="sort" class="form-input text-center" type="text" value="{$rs.sort}" data-id="{$rs.id}" /></td>
            <td>
                <div class="tile tile-centered">
                    <a class="tile-icon" href="{:url('app/details',['id' => $rs->id])}"><img class="w60 rounded img-responsive" src="{$rs.logo}"></a>
                    <a class="tile-content" href="{:url('app/details',['id' => $rs->id])}">
                        <div class="text-dark">{$rs.title} <span class="text-tiny">v{$rs.config.var??'1.0.0'}</span></div>
                        <div class="text-gray">{$rs.about}</div>
                    </a>
                    <div class="tile-action btn-group">
                    {if isset($rs.config.is_admin) && $rs.config.is_admin == 1}
                        <button class="btn tips tips-left is_admin" data-tips="管理应用" href="{:url('app/manage',['id' => $rs->id])}" outline><i class="icon bi-layout-text-window-reverse"></i> 管理</button>
                    {/if}
                        <a class="btn tips tips-left" data-tips="应用详细" href="{:url('app/details',['id' => $rs->id])}" outline><i class="icon bi-clipboard"></i> 详情</a>
                    </div>
                </div>
            </td>
            <td class="text-center"><span class="tag {$rs.config.is_open_wechat?'tag-success':''}">{$rs.config.open_wechat_text??'应用异常'}</span></td>
            <td class="text-right">{$rs.expire_day}天</td>
            <td class="text-right"><span class="widget-price text-dark">{$rs.price}</span></td>
            <td><a class="act status status-{$rs.is_lock?'':'success'}" href="{:url('app/islock',['id'=>$rs.id])}" title="锁定/解锁">{$rs.locktext}</a></td>
            <td>
                <a class="link" href="{:url('app/edit',['id'=>$rs->id])}">设置</a>
                <a class="link actDel" href="{:url('app/delete',['id'=>$rs->id])}">卸载</a>
            </td>
        </tr>
    {/foreach}
    </tbody>
    </table>
</div>
<div class="card-footer">{$list|raw}</div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
Do('base',function(){
    $('input[name=sort]').changeUrl({uri:"{:url('app/sort')}"});
    $('.act').actUrl({is_delete:true,text:'确认改变当前状态?'})
    $('.actDel').actUrl({is_delete:true,text:'有数据的禁止卸载,卸载后不可恢复。','content':'卸载应用'})
    $('.install').actUrl({text:'确认安装这个应用?','content':'安装应用'})
    $('.is_admin').actUrl({skin:'warning',text:'同时只能对一个应用进行管理操作!','content':'管理应用'},(rel) =>{
        parent.layer.toast(rel.message, {skin: 'success'});
        204==rel.code&&parent.getMenu(1);
    })
})
</script>
{/block}