<div class="login-header space-align-center space-justify-between cols col-gapless">
    <div class="col"><a class="layoutLogo d-block" href="{$web.url}"><img class="img-responsive" src="{$web.logo}" /></a></div>
    <div class="col-auto btn-group">
        <a href="{:url('tenant/index/login')}" class="btn" primary>登录</a>
        <a href="{:url('tenant/index/register')}" class="btn">注册</a>
    </div>
</div>
<div class="login-footer space-justify-center text-center text-dark">
    <p>{$web.copyright} | <a class="text-dark" href="https://beian.miit.gov.cn/" target="_blank">{$web.icp}</a></p>
    <p class="text-success">Powered By <a class="text-success" href="https://www.sapixx.com" target="_blank">{$Think.const.SYSNAME} ({$Think.const.BASEVER})</a></p>
</div>