{extend name="./layout" /}
{block name='main'}
<div class="card">
    <div class="card-header">
        <div class="tile">
            <div class="tile-icon"><img class="w80 rounded img-responsive" src="{$info.logo}"></div>
            <div class="tile-content">
                <div class="tile-title h5">{$info.title}</div>
                <div class="tile-subtitle mt-8">{$info.about??''}</div>
            </div>
            <div class="tile-action text-gray"><span class="widget-price text-error text-big text-bold">{$info.price}</span>/年</div>
        </div>
    </div>
    <div class="card-body">
        <form id="form" action="{:url('store/onbuy')}">
            <input type="hidden" name="app_id" value="{$info.id}" />
            <div class="form-group">
                <label class="form-label">账户余额</label>
                <input disabled class="form-input form-error text-bold text-big" type="text" value="￥{$tenant.money+$tenant.lock_money|money}"/>
            </div>
            <div class="form-group">
                <label class="form-label">应用名称</label>
                <div class="input-group"><input autocomplete="off" name="title" class="form-input" data-rule="required"  type="text" /></div>
            </div>
            <div class="form-group">
                <label class="form-label">应用简述</label>
                <textarea autocomplete="off" data-rule="required" class="form-input h60" type="text" name="about" /></textarea>
            </div>
            <div class="form-group">
                <label class="form-label">安全密码 <span class="text-gray text-tiny">初始安全密码为手机号后6位</span></label>
                <div class="input-group"><input name="safepassword" class="form-input" data-rule="密码:required;digits;length(6)" type="password" /></div>
            </div>
            <div class="form-group mt-16">
                <label class="form-checkbox"><input data-rule="required" type="checkbox" name="agree" value="1"><i class="form-icon"></i> 我已了解：应用开通后,不支持退款。</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn" outline primary>
                {if $tenant->agent}<span class="text-error widget-price">{:money($info.price*$tenant->agent->discount/10)}/年</span>{/if} 立即开通
                </button>
            </div>
        </form> 
    </div>
</div>  
{/block}
{block name='js'}
<script type="text/javascript">
Do('base','form', function () {
    $('#form').isForm((rel)=>{
        if(204 == rel.code){
            parent.layer.toast(rel.message,{skin: 'success'});
            $(this).requestUrl({confirm:false,uri:"{:url('account/manage')}?id="+rel.data.id},(data)=>{
                204==rel.code&&parent.window.location.reload();
            })
        }
    });
});
</script>  
{/block}