{extend name="./layout" /}
{block name='main'}
<div class="card">
    <div class="card-header text-bold text-dark text-bold"><i class="icon bi-pencil-square mr-8"></i> 修改昵称</div>
    <div class="card-body">
        <form id="form" action="{:url('account/edit')}">
            <div class="form-group">
                <label class="form-label">我的昵称</label>
                <input disabled class="form-input" type="text" value="{$tenant.username}" />
            </div>
            <div class="form-group">
                <label class="form-label">新的昵称</label>
                <input name="username" class="form-input" data-rule="required" type="text" >
            </div>
            <div class="form-group">
                <button type="submit" class="btn" primary>确定</button>
            </div>
        </form> 
    </div>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
Do('form',function () {
    $('#form').isForm();
});
</script> 
{/block}
