{extend name="./layout" /}
{block name='main'}
<div class="card">
    <div class="toast toast-warning"><p>安全密码用于平台购买服务时使用,默认安全密码为手机后6位。</p></div>
    <div class="card-header text-dark text-gray text-bold"><i class="icon bi-phone mr-8"></i> 绑定手机</div>
    <div class="card-body">
        <form id="form" action="{:url('account/phone')}">
            <div class="form-group">
                <label class="form-label">已绑手机</label>
                <input disabled class="form-input" type="text" value="{:app('util')->hideStr($tenant.phone_id)}" />
            </div>
            <div class="form-group">
                <label class="form-label">新手机号</label>
                <input data-rule="required;mobile;remote({:url('account/isphone')})" class="form-input" type="text" name="phone_id" id="phone_id" />
            </div>
            <div class="form-group">
                <label class="form-label">短信验证码</label>
                <div class="input-group">
                    <input name="sms_code" class="form-input" data-rule="required;length(4)" type="number" />
                    <button href="{:url('account/getPhoneSms')}" id="get_sms" type="button" class="btn input-btn">获取验证码</button>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" >确定信息</button>
                <button type="reset" class="btn ml-2" >重置</button>
            </div>
        </form> 
</div>
</div> 
{/block}
{block name='js'}
<script type="text/javascript">
Do('base','form', function () {
    $('#form').isForm();
    $('#get_sms').click(function(){
        var that  = this;
        $(this).requestUrl({confirm:false,post:true,param:{phone_id:$('#phone_id').val()}},(rel)=>{
            204==rel.code&&$(that).setSmsBtn();
        })
    })
});
</script> 
{/block}
