@charset "utf-8";
@import url('/common/css/ui.css');
@import url('/common/css/icons.css');
body{color: var(--gray-8);}
/* 自定义样式 */
.sidebar{overflow-y: auto;position: fixed;left: 0;margin: 0;z-index: 10;font-size:1em;bottom: 0;top:0;width: 15rem;padding:0px 0.8rem;direction: rtl;border-right: 1px solid var(--gray-3);}
.sidebar::-webkit-scrollbar {width:6px}
.sidebar::-webkit-scrollbar-track{background-color:transparent}
.sidebar::-webkit-scrollbar-thumb{border-radius:5px;background-color: var(--gray-3)}
.logo{padding:0.8rem 0px;background:#FFF;position:sticky;top: 0px;z-index:20;}
.scrollbar{direction:ltr;}
.focus{color: var(--blue-6)!important;}
.body{padding:0rem .8rem .8rem 16rem;}
@media screen and (max-width:960px){
  .body{padding:0rem;}
  .header{padding: 0rem .8rem;}
}
/*(功能选择)菜单 */
.menu{padding:0px 8px;border-radius: 6px;background:none;}
.menu .menu-item>a:focus,.menu .menu-item>a:hover{background:var(--blue-1);color:var(--blue-6)}
.footer{color: var(--gray-6);direction:ltr;line-height:24px;}
/* 头部 */
.header{flex: 0 0 auto;background-color:#fff;width: 100%;height:5rem;position:sticky;top: 0px;z-index:20;}
.header .tile{width: 100%;}
.docs-content{margin: 16px;display: flex;flex: auto;flex-direction: column;box-sizing: border-box;}
.card-hover:hover{transform: translateY(-1px);transition: all .25s ease 0s;}